.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(249, 212, 219, 255);
  height: 100vh;
  gap: 56px;
}

.middle {
  height: 100%;
  width: 40%;
  display: flex;
  gap: 56px;
  flex-direction: column;
  align-items: flex-start;
  flex: 0.8;
}
