@import "./global.scss";

.grid {
  top: 70px;
  right: 120px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  background-color: $peach;
  grid-gap: 8px;
}
